[submodule "contact-form-fetch"]
	path = contact-form-fetch
	url = https://github.com/powerfulweb/contact-form-fetch
[submodule "assets/js/contact-form-fetch"]
	path = assets/js/contact-form-fetch
	url = https://github.com/powerfulweb/contact-form-fetch
[submodule "assets/js/contact-form-dropzone"]
	path = assets/js/contact-form-dropzone
	url = https://github.com/powerfulweb/contact-form-dropzone
[submodule "assets/js/on-scroll"]
	path = assets/js/on-scroll
	url = https://github.com/powerfulweb/on-scroll
